# Copy this file to .env and fill in your values
SECRET_KEY=your_flask_secret_key_here
DATABASE_URL=mysql+pymysql://USERNAME:PASSWORD@localhost:3306/clouddrive

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_secret_access_key_here
AWS_REGION=eu-north-1
AWS_S3_BUCKET=your_s3_bucket_name_here
